[Unit]
Description=Reports presence status over MQTT and REST
After=network.target
Before=getty@tty1.service

[Service]
Type=simple
ExecStart=/opt/sensorReporter/sensorReporter.py /opt/sensorReporter/sensorReporter.ini
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target